<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en" ng-app="noteIt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homepage</title>
        <%= javascript_include_tag "homeController" %>
    </head>

    <body ng-controller="homeController">
        <!-- Fixed Top Navigation Bar -->
<!--         <nav class="navbar-fixed-top" role="navigation">
            <div class="navbar-brand">
                <a class="glyphicon glyphicon-home" style="color:grey; margin-left: 20px"> Home  </a>
                <a class="glyphicon glyphicon-file" style="color:grey;margin-left: 20px" href="newNote.html"> Notes</a>
                <a class="glyphicon glyphicon-log-out" style="color:grey;position:fixed; right: 4%; margin-top: 10px"> Logout</a>
            </div>
        </nav> -->
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Sidebar...
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Favorites</a>
                </li>
                <li>
                    <a href="#">Notebooks</a>
                </li>
                <li>
                    <a href="#">My Classes</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- <div class="search-bar" style="position: fixed; top: 30%; left: 35%; margin-top: -50px; margin-left: -100px;">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for notes...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div> -->


                <div class="btn-group">
                    <%= link_to "View your notes", notes_path, :class => "btn btn-info" %>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

        

        
        <!--<div class="panel panel-default" style="position: fixed; top: 40%; left: 20%;">
            <ul class="list-group" style="width: 800px">
                <li class="list-group-item"><span class="badge">5</span>CS130B Lecture01</li>
                <li class="list-group-item"><span class="badge">2</span>CS176A Lecture01</li>
                <li class="list-group-item"><span class="badge">14</span>CS290B Sprint1</li>
                <li class="list-group-item"><span class="badge">1</span>CS178 Lecture05</li>
            </ul>
        </div>-->

        </div>
        <!-- /#wrapper -->

    </body>
</html>