<% provide(:title, "All Notes") %>
<div class="panel panel-default">
  <div class="panel-body"><</div>
</div>
<br/>
<br/>
<h1>All your notes <%=current_user.name %></h1>

<%= will_paginate %>

<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <%= link_to note.title, note %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
