<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta name="fragment" content="!">
        <meta name="author" content="Austin Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="contact" content="austin@rarebreedstudios.com">
        <meta name="copyright" content="Austin Anderson. All rights reserved">
        <meta charset="utf-8">
        <title>textAngular :: Lightweight Angular.js, Javascript Wysiwyg/Text-Editor</title>
        <link rel="shortcut icon" href="images/favicon.png">

        <%= javascript_include_tag "textAngular-rangy.min", "textAngular-sanitize.min", "textAngular.min" %>

    </head>

    <body>
        <div id="ng-app" ng-app="textAngularDemo" ng-controller="demoController" class="ng-scope">
            <br>
            <br>
            <br>
            <br>
            

            <br>
            <!--note title-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Title:</label>
                <input class="form-control" type="text" ng-model="title" style="width: 500px">
            </div>
            <br>

            <!--note uni-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">University:</label>
                <input class="form-control" type="text" ng-model="university" style="width: 250px">
            </div>

            <!--note class-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Class:</label>
                <input class="form-control" type="text" ng-model="notes_class" style="width: 250px">
            </div>

            <!--note prof-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Professor:</label>
                <input class="form-control" type="text" ng-model="professor" style="width: 250px">
            </div>
            <br>

            <!--Angular Text Editor-->
            <div class="container lighter">
                <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
            </div>
            <br>

            <!--<p ng-bind="htmlContent" class="text-left text-med text-gray"></p>-->


            <!--Save Button-->
            <button class="btn btn-success" ng-click="save()"
                    style=" background-color: white; border-color: black; width: 120px; color:black; font-weight: bold;
                    margin-top: 20px; float: right; margin-right: 50px">
                <!-- <span class="glyphicon glyphicon-save"></span>&nbsp&nbsp Save &nbsp&nbsp -->
                <%= link_to "Save", "/notes/view_note", class: "glyphicon glyphicon-save" %>
            </button>
            <br>
            <br>
        </div>

        


        <script type="text/javascript">
            angular.module("textAngularDemo", ['textAngular'])
                    .controller("demoController", function demoController($scope, $http) {

                        $scope.save = function(){
                            var noteObj = {
                                title: $scope.title,
                                content: $scope.htmlContent,
                                university: $scope.university,
                                notes_class: $scope.notes_class,
                                professor: $scope.professor
                            }
                            //confirm(noteObj.content);
                            $http({
                                method : 'POST',
                                url : '/notes',
                                data : noteObj
                            })/*then(function successCallback(response) {
                            // this callback will be called asynchronously
                            // when the response is available
                                
                            }, function errorCallback(response) {
                            // called asynchronously if an error occurs
                            // or server returns response with an error status.
                            })*/;

                        }

                    });
        </script>


    </body>
</html>






