<% provide(:title, "New Note") %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta name="fragment" content="!">
        <meta name="author" content="Austin Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="contact" content="austin@rarebreedstudios.com">
        <meta name="copyright" content="Austin Anderson. All rights reserved">
        <meta charset="utf-8">
        <title>textAngular :: Lightweight Angular.js, Javascript Wysiwyg/Text-Editor</title>
        <link rel="shortcut icon" href="images/favicon.png">
        <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>

        <%= javascript_include_tag "textAngular-rangy.min", "textAngular-sanitize.min", "textAngular.min", "bootstrap-tags" %>
        <%= stylesheet_link_tag "bootstrap-tags" %>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
    <link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">
    </head>

    <body>
        <div id="note_save_msg" style="display: none;"></div>
        <div id="ng-app" ng-app="textAngularDemo" ng-controller="demoController" class="ng-scope">
            <br>
            <br>
            <br>
            <br>
            

            <br>
            <!--note title-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Title:</label>
                <input class="form-control" type="text" ng-model="title" style="width: 500px">
            </div>
            <br>

            <!--note uni-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">University:</label>
                <input class="form-control" type="text" ng-model="university" style="width: 250px">
            </div>

            <!--note class-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Class:</label>
                <input class="form-control" type="text" ng-model="notes_class" style="width: 250px">
            </div>

            <!--note prof-->
            <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Professor:</label>
                <input class="form-control" type="text" ng-model="professor" style="width: 250px">
            </div>
            <div>
                Choose Notebook: 
                <select id="notebook_id">
                    <%@notebooks.each do |option|%>
                    <option value="#{option.id}"><%=option.title%></option>
                    <%end%>
                </select>  
            </div>
            <br/>
            <!--note tags-->
            <!--<p class="col-sm-1 control-label" style="margin-left:50px; font-weight: bold;">Tags: </p>
            <div id="tags" style="margin-left: 150px; width: 500px"></div>
<!--             <div class="form-group">
                <label class="col-sm-1 control-label" style="margin-left: 50px; font-weight: bold;">Tags:</label>
                <input class="form-control" type="text" ng-model="tags" style="width: 500px">
            </div> -->

            <br>

            <!--Angular Text Editor-->
            <div class="container lighter">
                <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
            </div>
            <br>

            <!--<p ng-bind="htmlContent" class="text-left text-med text-gray"></p>-->


            <!--Save Button-->
            <button class="btn btn-success" ng-click="save()"
                    style=" background-color: white; border-color: black; width: 120px; color:black; font-weight: bold;
                    margin-top: 20px; float: right; margin-right: 50px">
                <!-- <span class="glyphicon glyphicon-save"></span>&nbsp&nbsp Save &nbsp&nbsp -->
                <span>Save</span>
            </button>
            <br>
            <br>
        </div>
        <script type="text/javascript">
            //$(function(){
              //  $("#tags").tags({
                //  suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
                  //tagData: ["network", "internet service"]
                //});
              //});

            angular.module("textAngularDemo", ['textAngular'])
                    .controller("demoController", function demoController($scope, $http, $window) {

                        $scope.save = function(){
                            var noteObj = {
                                title: $scope.title,
                                content: $scope.htmlContent,
                                university: $scope.university,
                                class_subject: $scope.notes_class,
                                professor: $scope.professor,
                                
                            }
                            //confirm(noteObj.content);
                            $http.post('/notes', noteObj).success(function(data, status){
                                    confirm(status);
                                    $window.location.href = '/notes';
                                }).error(function(data, status){
                                    confirm(status);    
                                });


                            /*$http({
                                method : 'POST',
                                url : '/notes',
                                data : noteObj
                            })*//*then(function successCallback(response) {
                            // this callback will be called asynchronously
                            // when the response is available
                                
                            }, function errorCallback(response) {
                            // called asynchronously if an error occurs
                            // or server returns response with an error status.
                            })*/;
                            
                        }

                    });
        </script>


    </body>
</html>







