<!DOCTYPE html>
<html lang="en" ng-app="noteIt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body ng-controller="viewNoteController">

        <h1 style="position: fixed; top: 7%; left: 5%; color:grey">Scalable Internet Service</h1>


    </body>
</html>erb