<div>
  <%cache(cache_key_for_all_comments @comments) do%>	
	<table class="comments">
  	
      <% @comments.each do |comment| %>
    	<%cache(cache_key_for_comment(comment)) do%>
     
      <tr>
   	   		<div class="media col-lg-8 col-centered">
    	
      			<a class="pull-left" href="#">
        	 		<img class="media-object" src="http://placehold.it/64x64" alt="">
      			</a>
      			<div class="media-body">
      				<span style="color:grey">Posted by <%=user_name User.find(comment.user_id)%> <%= time_ago_in_words comment.created_at%> ago.</span>
              <br/>
      				<h4 >
      					<%= comment.body %>
      				</h4>
      			</div>
      		</div>
    	</tr>
      <%end%>

  		<% end %>
  </table>
  <%end %>
</div>

