<%= div_for @comment do %>
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64" alt="">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      Posted <%= time_ago_in_words(comment.created_at) %> ago
    </h4>
    <%= comment.body %>
  </div>
<% end %>