<div class="col-md-3">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <!-- <img src="https://scontent.fsan1-1.fna.fbcdn.net/hphotos-xfa1/t31.0-8/10533264_10152822875527806_8467779151490887964_o.jpg" class="img-responsive" alt=""> -->
            <%= image_tag(current_user.avatar.url(:thumb) , class: "img-responsive") %>
            
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <%= current_user.name %>
            </div>
            <div class="profile-usertitle-job">
                <%= current_user.email %>
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm">Follow</button>
            <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                
                <li>
                    <a href="#">
                    <i class="fa fa-bolt fa-fw"></i>
                    Note Shortcuts </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-wrench"></i> External Tools <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo3" class="collapse">
                            <li>
                                <a href="#">Wolfram Alpha</a>
                            </li>
                            <li>
                                <a href="#">Wikipedia</a>
                            </li>
                            <li>
                                <a href="#">Google</a>
                            </li>
                        </ul>
                </li>

                
                <li>
                    <a href="#">
                    <i class="fa fa-fw fa-gear"></i>
                    Settings </a>
                </li>

                
            </ul>
        </div>
        <!-- END MENU -->
    </div>
</div>























