<% @user ||= current_user %>

<div class="col-md-3">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <%= image_tag(current_user.avatar.url(:thumb) , class: "img-responsive") %>
            
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <%= @user.name %>
            </div>
            <div class="profile-usertitle-job">
                <%= @user.email %>
            </div>
           <%= render 'partials/stats' %>
            
        </div>
    </div>
</div>























